@import"./reset.css";
@import"./media.css";
@import"./libs";

$green: #00BF78;
$grey: #f8f6f7;
$orange: #fb9475;

.hidden {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 14px;
}

body.lock {
    overflow: hidden;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

.header,
.footer {
    flex-shrink: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: #333;
}

.container {
    max-width: 1110px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

section {
    width: inherit;
    padding: 50px 0;
}


/*БУРГЕР-МЕНЮ*/

.header {
    background-color: #F8F6F7;
    background-image: url(../image/background.png);
    overflow: hidden;

    & .container {
        position: relative;
    }

    &__menu-btn {
        display: none;
    }

    &__top {
        padding: 30px 0 6px;

        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__logo {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    &__nav {
        column-gap: 28px;
    }

    &__phone {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__content {
        position: relative;

    }

    &__hero {
        max-width: 540px;
        position: relative;
        z-index: 3;
    }

    &__btn {
        margin-bottom: 136px;
    }

    &__photo {
        width: 524px;
        height: 510px;
        position: absolute;
        bottom: 0;
        right: 93px;

        &::before {
            content: '';
            width: 472px;
            height: 472px;
            background-color: $orange;
            border-radius: 50%;

            position: absolute;
            z-index: 1;
            bottom: -110px;
            right: 0;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            background-image: url('../image/header-image.png');
        }
    }

    &__socials li:not(:last-child) {
        margin-bottom: 18px;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        font-weight: 500;
        line-height: 17px;
        transition: 0.15s color;
    }

    &__link {
        &:hover {
            color: $green;
        }
    }

}

.phone-info {
    &__number {
        font-weight: 500;
        font-size: 18px;
        line-height: 14px;
        margin-bottom: 8px;
    }

    &__schedule {
        font-size: 11px;
        line-height: 14px;
    }

}

.hero {

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;

        padding: 90px 0 17px 0;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 59px;
    }
}

.btn {
    text-align: center;
    background: $orange;

    &--large {
        padding: 17px 30px;
        border-radius: 27px;
    }

    &--small {
        padding: 10px 20px;
        border-radius: 17px;
    }

    &__link {
        color: #FFFFFF;
        font-weight: 500;
        line-height: 14px;
    }
}

.socials--vertical {
    position: absolute;
    right: 0;
    bottom: 232px;
}

/* -------------SECTION ABOUT---------------  */

.about__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
}

.about-content {
    padding: 50px 0;

    &__description {
        padding-bottom: 16px;

        font-size: 20px;
        line-height: 32px;
    }

    &__text {
        line-height: 26px;
        font-size: 16px;
        padding-bottom: 27.5px;
    }

    &__video {
        position: absolute;
        bottom: 50px;
        right: 0;

        width: 445px;
        height: 298px;
        overflow: hidden;
    }
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 32px;
}

.subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.video {
    &__cover {
        border-radius: 8px;
    }

    &__btn {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__text {
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
}

.about-list {
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    text-align: center;
}

.about-item {
    width: 350px;
    line-height: 22px;

    &__subtitle {
        padding-bottom: 12px;
    }

    &__text {
        line-height: 22px;
    }

    &:first-of-type {
        padding: 0 25px;
    }

    &:nth-of-type(2) {
        padding: 0 47.5px;
    }

    &:last-of-type {
        padding: 0 43.5px;
    }
}

.about-item img {
    width: 48px;
    height: 48px;
    margin-bottom: 28px;
}

/* -----------SECTION SERVICES--------- */

.our-service {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 48px;
}

.service-item {
    max-width: 350px;
    width: 31%;

    &__img {
        border-radius: 8px;
        width: 100%;
        height: auto;
    }

    &__text {
        padding-bottom: 16px;
        font-size: 12px;
        line-height: 20px;
    }

    &__subtitle {
        padding: 20px 0 8px;
    }
}

.price__service-list {
    padding-bottom: 52px;
}

.service-list {
    display: flex;
    max-width: 795px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;

    &__item {
        position: relative;
        display: block;

        & button:hover {
            color: $green;
        }

        & button.active {
            color: $green;
        }

        & button.active::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;

            background-color: $green;
            transition: opacity 0.1s linear;
        }

        & button.active:active::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.price-list {
    display: none;
    flex-wrap: wrap;
    column-gap: 125px;
    row-gap: 32px;

    &__item {
        display: flex;
        justify-content: space-between;
        width: 42%;
    }

    &__number {
        font-size: 20px;
        line-height: 24px;
        color: $green;
        white-space: nowrap;
    }

    &__text {
        padding-top: 8px;
        line-height: 17px;
    }
}

.price-list.active {
    display: flex;
}

/* ----------- SECTION MASTER ------------ */

.master {
    background-color: #F8F6F7;

    &__description {
        padding-bottom: 24px;

        font-size: 16px;
        line-height: 20px;
    }
}

.master-list {
    display: flex;
    justify-content: space-between;
}

.master-item {
    &__subtitle {
        padding: 20px 0 8px;
    }

    &__job {
        padding-bottom: 20px;
        line-height: 17px;
    }

    &__experience {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }

    &__img {
        border-radius: 8px;
        position: relative;
        z-index: 2;
        max-width: 250px;
        max-height: 300px;
        object-fit: cover;

        &::after {
            content: '';
            position: absolute;
            border-radius: 8px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #333333;
            opacity: 0;
            transition: 0.3s opacity;
        }

        &:hover::after {
            opacity: 0.5;
        }
    }

    &__img-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;

        &::after {
            content: 'Записаться к мастеру';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            opacity: 0;
            transition: 0.3s opacity;

            font-size: 14px;
            line-height: 17px;
            color: #fff;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

/* ----------- SECTION PORTFOLIO ----------- */

.portfolio {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__brands-text {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-top: 85px;
    }

    &__brands-list {
        padding: 40px 0 50px;
        margin: auto;

        max-width: 920px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.5;
    }
}

#prev {
    margin-right: 27px;
}

.slider {
    &__item {
        padding: 15px;
        width: 338px;
        height: 338px;
        object-fit: cover;

        &:hover {
            transform: scale(1.1);
            transition: 0.5s;

            &::before {
                content: url(../image/zoom.svg);
                position: absolute;
                top: 40%;
                left: 45%;
                z-index: 2;
                cursor: pointer;
                transition: 0.3s;
            }

            &::after {
                content: 'Увеличить';
                position: absolute;
                top: 55%;
                left: 40%;
                font-size: 14px;
                line-height: 17px;
                color: #FFF;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
}


/* ---------- REGISTRATION FORM  ---------- */

.contact-us .container {
    display: flex;
    justify-content: space-between;
}

.contact-us {
    background-color: #F8F6F7;
}

.contacts {
    max-width: 362px;
    display: flex;
    flex-direction: column;

    &__title {
        padding-top: 32px;
    }

    &__socials {
        display: flex;
        max-width: 147px;
        justify-content: space-between;
        padding: 12px 0;
    }
}

.phone {
    padding: 20px 0;
}

.email {
    color: #278AFF;
    padding-bottom: 32px;

    &:hover {
        text-decoration: underline;
    }
}

.socials-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

//ФОРМА КРАТКАЯ

.form {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    padding: 40px;
    margin-right: 95px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    &__content {
        display: flex;
        flex-direction: column;
    }

    & .date-picker {
        display: none;
    }

    & select {
        display: none;
    }

    &__personal-data {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        padding-top: 16px;
    }

    &__text {
        padding: 15px 0 35px;
    }

    &__btn {
        font-style: 14px;
        padding: 17px 0;
        text-align: center;
        color: #FFFFFF;
        border-radius: 24px;
    }
}

form input {
    padding: 15px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;

    color: #A0A0A0;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
}

.data-link {
    font-size: 12px;
    line-height: 15px;
    text-decoration: underline;
    color: #278AFF;

    &:hover {
        text-decoration: underline;
    }
}

/* ----------  FOOTER ---------- */

.footer {
    padding: 20px 0;

    &__nav {
        column-gap: 28px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 12px;
        line-height: 15px;
    }
}

.privacy {
    & p {
        padding-bottom: 8px;
    }

    &__link {
        text-decoration: underline;

        & a {
            color: #278AFF;
        }
    }
}

/*--------------- FULL FORM ---------------*/
#loader {
    padding-top: 15px;
    font-size: 16px;
}

.full-form.active {
    display: flex;
}

.full-form {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 67, 58, 0.541);

    justify-content: center;
    align-items: center;
    z-index: 99;


    &__body {
        padding: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 550px;
        padding: 40px;
        background-color: #FFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        position: relative;
    }

    &__personal-data {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        padding-top: 16px;
    }

    &__text {
        padding: 35px 0 15px;
    }
}

form select {
    padding: 15px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;

    color: #A0A0A0;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }

    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

input.error {
    border: 1px solid #ff0000;
}

label.error {
    color: #ff0000;
    font-weight: normal;
}